<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="assets/stylish-portfolio.css" rel="stylesheet">
    <link href="assets/font-awesome.min.css" rel="stylesheet">
    <link href="assets/font-awesome.css" rel="stylesheet">
  </head>

  <body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><a href="/">KRUG Meet Up</a></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#about">About KRUG</a></li>
        <li><a href="#agenda">Main Agenda</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <!-- background image -->
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Kerala Ruby Users Group</h2>
            <p class="lead">K-RUG is a ruby developers community from Kerala. Meetups are held monthly to discuss upon the emerging technology trends in ruby as well as the supporting technologies. Lightning sessions are conducted to share the experiences on challenging projects<br />

			This time we'll be gathering at QBurst Cochin office, located at Infopark, Kakkanad. We have KeralaJS (Kerala Javascript Devs Group) meetup from 9:30AM to 1:00PM, on the same day at same place. <br />

			Hope this would be a good platform for developers from both client and server side technologies to interact and share knowledge. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="agenda" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Agenda</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="service-item">
              <a href="#" data-toggle="modal" data-target="#myModal"><img src="assets/js.png" alt="jsicon"></a>
              <p>Fore-noon Session on JS</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="service-item">
              <img src="assets/ruby.png" alt="jsicon">
              <li class="dropdown">
              		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Messages <b class="caret"></b></a>
              	<ul class="dropdown-menu">
                <li><a href="#">Grape-Goliath</a></li>
                <li><a href="#">Oauth-provider</a></li>
                <li><a href="#">Rails 4</a></li>
                <li class="divider"></li>
            	</ul>
        	</li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- /Services -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title" id="myModalLabel">Sessions on JS</h4>
		      	</div>
		      	<div class="modal-body">
		        	
		        	<!-- contents -->
		      	</div>
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



    <!-- Map -->
   	<div id="venue" class="map">
  		<div class="col-md-6 col-md-offset-3 text-center">
    		<h2>Meet Venue</h2>
    	</div>
     <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tejomaya,+Infopark,+Ernakulam,+Kerala&amp;aq=0&amp;oq=Tejomaya,+inf&amp;sll=10.011855,76.363199&amp;sspn=0.006593,0.009871&amp;ie=UTF8&amp;hq=Tejomaya,&amp;hnear=Infopark,+Ernakulam,+Kerala&amp;t=m&amp;cid=17098023863868037787&amp;ll=10.025738,76.358585&amp;spn=0.04226,0.103083&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://www.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Tejomaya,+Infopark,+Ernakulam,+Kerala&amp;aq=0&amp;oq=Tejomaya,+inf&amp;sll=10.011855,76.363199&amp;sspn=0.006593,0.009871&amp;ie=UTF8&amp;hq=Tejomaya,&amp;hnear=Infopark,+Ernakulam,+Kerala&amp;t=m&amp;cid=17098023863868037787&amp;ll=10.025738,76.358585&amp;spn=0.04226,0.103083&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
    <!-- /Map -->

    <!-- Contact -->
	</br>
    <div id="contact" class="contact">
      	<div class="container">
			<div class="row">
          		<div class="col-md-6 col-md-offset-3 text-center">
            		<h2>Contact</h2></br></br>
            		<hr>
					<b>Kannan Reghu</b></br>
					+91 ph </br>
					email </br>
		  		</div>
			</div>
      	</div>
    </div>
    <!-- /Contact -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <hr>
            <p>Copyright &copy; ruby team @ QBurst 2013</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/jquery.js"></script>
    <script src="assets/bootstrap.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/modal.js"></script>
    <script src="assets/dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  </body>

</html>